ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.wrapper {
  display: flex;
  margin-top: 7px;
  & > div {
    // display: flex;
    // flex-direction: column;
    flex: 1 1;
    border: 1px solid gray;
  }
}

.game-container {
  width: 90%;
  margin: 18px auto;
  border: 1px solid green;
  li {
    padding: 1px;
  }
  .controls {
    display: flex;

    .select {
      flex: 2 2;
    }
    .name {
      flex: 2 2;
    }
    .start {
      flex: 1 1;
      display: flex;
      align-items: center;
    }
  }
}

// Game pool
.pool-wrapper {
  border: 1px solid black;
  width: 80%;
  margin: 10px auto;
  & > ul {
    display: flex;
    flex-wrap: wrap;
    li {
      flex: 1 0 17%;
      border: 1px solid red;
      cursor: pointer;
    }
    li:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    .easyMode {
      flex: 1 0 17%;
    }
    .normalMode {
      flex: 1 0 8%;
    }
    .hardMode {
      flex: 1 0 5.34%;
    }
    .blue {
      background: blue;
    }
    .green {
      background: green;
    }
    .red {
      background: red;
    }
  }
}

// Leader board
.board-container {
  width: 70%;
  margin: 0 auto;
  li {
    margin: 10px 0;
  }
}

.winner-info {
  display: flex;
  padding: 2px;
  span {
    padding: 5px;
  }
  & > span:first-child {
    flex: 1 1;
  }
  & > span:last-child {
    flex: 3 3;
    text-align: end;
  }
}
